<ul class="view-blogs">
    <li style="--animation-order: 1;">
        <h3>TITLE</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dolor sint perferendis blanditiis est, eos cum aperiam veniam nihil, nesciunt exercitationem omnis, cupiditate tenetur nemo iusto atque nostrum praesentium aspernatur.</p>
    </li>
    <li style="--animation-order: 2;">
        <h3>TITLE</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dolor sint perferendis blanditiis est, eos cum aperiam veniam nihil, nesciunt exercitationem omnis, cupiditate tenetur nemo iusto atque nostrum praesentium aspernatur.</p>
    </li>
    <li style="--animation-order: 3;">
        <h3>TITLE</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dolor sint perferendis blanditiis est, eos cum aperiam veniam nihil, nesciunt exercitationem omnis, cupiditate tenetur nemo iusto atque nostrum praesentium aspernatur.</p>
    </li>
    <li style="--animation-order: 4;">
        <h3>TITLE</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dolor sint perferendis blanditiis est, eos cum aperiam veniam nihil, nesciunt exercitationem omnis, cupiditate tenetur nemo iusto atque nostrum praesentium aspernatur.</p>
    </li>
</ul>