<form action="/createpost" method="POST">
    <label for="body-title">Title</label>
    <input type="text" id="body-title" name="body-title" placeholder="Blog title..">

    <label for="body-desc">Description</label>
    <input type="text" id="body-desc" name="body-desc" placeholder="Blog Description ...">

    <label for="blog-body">Body</label>
    <textarea id="blog-body" name="blog-body" rows="10" placeholder="Enter blog body..."></textarea>

    <input type="submit" value="Submit">
</form>