<form action="/createpost" method="POST">
    <label for="blogTitle">Title</label>
    <input type="text" id="blogTitle" required name="blogTitle" placeholder="Blog title..">

    <label for="blogTags">Tags</label>
    <input type="text" id="blogTags" required name="blogTags" placeholder="Blog Tags ... (ex - Technology, Science etc) Comma seperated..">

    <label for="blogBody">Body</label>
    <textarea id="blogBody" required name="blogBody" rows="10" placeholder="Enter blog body..."></textarea>

    <input type="submit" value="Submit">
</form>