<div class="brand" onclick="location.href = '/'">
    <img class="website-image" src="/images/logo.png" alt="website-header-image">
    <span class="brand-name">BLOGSPOT</span>
</div>
<div class="navigation">
    <button type="button" onclick="location.href = '/addpost'">Add</button>
</div>