<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/html-head") %>
</head>
<body>
    <section class="header">
        <%- include('./partials/header') %>
    </section>
    <section class="body">
        <div class="content">
            <%- include("./partials/all-blogs-view") %>
        </div>
    </section>
    <section class="footer">
        <%- include("./partials/footer") %>
    </section>
</body>
</html>