@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Font face rules */
@font-face {
  font-family: BrandFont;
  src: url(fonts/Adhellia.otf);
}

@font-face {
  font-family: ButtonFont;
  src: url(fonts/Rotterdam\ Bridge.ttf);
}

@font-face {
  font-family: FooterFont;
  src: url(fonts/Angora.otf);
}

@font-face {
  font-family: CardTitle;
  src: url(fonts/Defitta.ttf);
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eeeded;
}

button {
  margin: 5px;
  font-family: ButtonFont, Verdana, Geneva, Tahoma, sans-serif;
  border: unset;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px 20px 5px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

[onclick] {
  cursor: pointer;
}

section.header {
  height: 14vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px dashed #c5c5c5;
}

section.body {
  height: 78vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

section.footer {
  height: 5vh;
  width: 100%;
  padding-top: 10px;
}

div.brand {
  display: flex;
  align-items: center;
  padding: 5px;
}

span.brand-name {
  font-family: BrandFont, Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  letter-spacing: 5px;
}

img.website-image {
  width: 90px;
  height: inherit;
}

div.content {
  width: 60%;
  height: inherit;
  padding: 10px;
  margin-top: 20px;
}

div.footer-text {
  font-size: 0.8rem;
  text-align: center;
}

div.footer-text span.author-name {
  font-family: FooterFont, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.view-blogs {
  list-style: none;
}

.view-blogs li {
  border-left: 10px solid orange;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;

  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 150ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.view-blogs li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.view-blogs li h3,
.view-blogs li p {
  font-family: Roboto, "Courier New", Courier, monospace;
  background: unset;
}

section.body::-webkit-scrollbar {
  width: 0.6em;
}

section.body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section.body::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px solid rgb(243, 171, 39);
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}
